@import '../../styles/mixins';

.ServerUpdateForm {
    & Form {
        @include form;
    }
    & .avatar-editor {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;
        margin: auto;
    }
    & .actual-avatar, & .wanted-avatar {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }

    & .avatar-action {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}