.UserDisplay {
    .temp-content {
        margin: 10px;
        padding-bottom: 10px;
    }

    color: black;
    background-color: lightgray;

    .heading {
        color: black;
        background-color: #bbbbbb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .MuiAvatar-root {
            margin-right: 20px;
            ;
        }
    }
}