.channels-box {
	border: 1px solid lightgray;

	& h4 {
		margin: 10px;
	}

	.MuiSvgIcon-root {
		color: lightgrey;
		cursor: pointer;
		margin-left: 10px;

		&:hover {
			color: #999999;
		}
	}

	.channels-stack {
		&__items {
			margin-left: 0.5em;
			cursor: pointer;
		}
	}
}