@import '../../../styles/mixins';

.Signup {

    margin-top: 0.6em;

    form {
        @include form;
    }

    .avatar-managment {
        padding: 1em 0;

        & h3 {
            margin: 0;
        }
    }

    .passwordHelper {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 10px 0 10px 0;
        gap: 10px;
        white-space: pre;
        text-align: center;
    }

    .invalidPassword {
        transition: all 1s ease-in-out;
        max-height: 600px;
    }

    .validPassword {
        transition: all 1s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

}