@import '../../../styles/mixins';

.Signup {
    margin-top: 0.6em;
    form {
        @include form;
    }
    .avatar-managment {
        padding: 1em 0;
        & h3 {
            margin: 0;
        }
    }
    .passwordHelper {
        width: fit-content;
        margin: auto;
    }
}