@import '../../styles/mixins';

.Profile {
    & Form {
        @include form;
    }
    & .password-request-button {
        width: fit-content;
        margin: auto;
        padding: 20px;
        cursor: pointer;
    }
    & .formgroup-heading {
        font-weight: bold;
        font-size: large;
    }
}

