@mixin form {
    /* #c3f0f5 */
    background-color: rgba(var(--rgba-primary), 0.2);
    width: fit-content;
    padding: 0;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 12px;
    overflow: hidden;

    & h2 {
        /* #aeedf5 */
        background-color: rgba(var(--rgba-primary), 0.15);
        margin: 0;
        padding-bottom: 0.3em;
        border-radius: 12px;
        box-shadow: inset -2px -2px 10px 1px rgba(var(--rgba-primary), 0.1), inset 2px 2px 10px 4px #f6fafa
    }

    & .field-box {
        padding: 20px 20px 5px 20px;
        margin: auto;
        width: fit-content;
    }

    margin: auto;

    & .form__fields {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

    }

    & label {
        margin-right: 0.5em;
    }

    & .MuiButtonBase-root {
        margin: 0.5em auto;
    }
}

@mixin darkForm {
    background-color: rgba(var(--rgba-quaternary), 0.5);
    border: 1px solid #1c1c1c;

    & h2 {
        background-color: rgba(var(--rgba-quaternary));
        box-shadow: inset -2px -2px 10px 1px #0c001f, inset 2px 2px 10px 4px #bbc7c7
    }

    & input {
        background-color: rgba(var(--rgba-background-input-color));
        color: rgba(var(--rgba-font-color));
    }
}