:root {
  --font-color: black;
  /* black */
  --rgb-font-color: 0, 0, 0, 1;
  /* black */

  --background-color: #f5fcfd;
  /* #f5fcfd */
  --rgb-background-color: 245, 252, 253;
  /* #f5fcfd */

  --primary: #00ACE6;
  /* #00ACE6 */
  --rgb-primary: 0, 172, 230;
  /* #00ACE6 */

  --secondary: #a7c8ee;
  /* #a7c8ee */
  --rgb-secondary: 167, 200, 238;
  /* #a7c8ee */

  --tertiary: #f8feff;
  --tertiary-alt: #f4f8fd; 


  --quaternary: #c3f0f5;
  /* #c3f0f5 */
  --rgb-quaternary: 195, 240, 245;
  /* #c3f0f5 */
}

[data-theme="dark"] {
  --font-color: #ddddee;
  /* #ddddee */
  --rgb-font-color: 221, 221, 238;
  /* #ddddee */

  --background-color: #1E1D29;
  /* #1E1D29 */
  --rgb-background-color: 30, 29, 41;
  /* #1E1D29 */

  --background-input-color: #282a75;
  --rgb-background-input-color: 40, 42, 117;

  --primary: darkblue;
  /* darkBlue */
  --rgb-primary: 0, 0, 139;
  /* darkBlue */

  --secondary: #1f2d4b;
  /* #1f2d4b */
  --rgb-secondary: 31, 45, 75;
  /* #1f2d4b */

  --tertiary: rgb(30, 27, 43);
  --tertiary-alt: #22202e;


  --quaternary: #021041;
  /* #021041 */
  --rgb-quaternary: 2, 16, 65;
  /* #021041 */
}