@import "./variables";
@import "./mixins";

:root {
  --font-color: black;
  --background-color: #f5fcfd;
}

[data-theme="dark"] {
  --font-color: #ddddee;
  --background-color: #1e1d29;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
}

#root, #root>div {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

a, a:hover, a:visited {
  text-decoration: none;
  color: black;
}

[data-theme=dark] a {
  color: var(--font-color);
}

form {
  @include form;
}
[data-theme=dark] form {
  @include darkForm;
}
