@use "./variables" as *;
@use "./mixins" as *;

html,
body {
  transition: all 0.2s;
  background-color: rgba(var(--rgb-background-color));
  color: var(--font-color);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html,
body,
#root,
#root>div {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--font-color);
}

.form {
  @include form;
}

[data-theme="dark"] .form {
  @include darkForm;
}