@import "./variables";
@import "./mixins";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5fcfd;
}

#root, #root>div {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

