    
 .point {
	position: absolute; 
	top: 75px;
	left: 94px;
	background-color: red;
	height: 1px;
	width: 1px;
 }
 .logo {
    	display: flex;
    	align-items: center;
    	gap: 10px;


    	&__picture {
    		position: relative;

    		img {
    			width: 150px;
    		}

    		%eye {
    			display: flex;
    			align-items: center;
    			justify-content: flex-end;
    			position: absolute;
    			top: 62px;
    			height: 10px;
    			width: 10px;
    			border-radius: 50px;
    			background-color: rgb(255, 255, 255);
    		}

    		%puppy {
    			content: "";
    			position: absolute;
    			justify-content: center;
    			align-items: center;
    			border-radius: 100%;
    			background-color: black;
    			margin-right: 0.2px;
    			height: 6px;
    			width: 6px;
    		}

    		&__lefteye {
    			@extend %eye;
    			left: 59px;

    			&::after {
    				@extend %puppy;
    			}
    		}

    		&__righteye {
    			@extend %eye;
    			left: 79.5px;

    			&::after {
    				@extend %puppy;
    			}
    		}

    		// &__lefteye {
    		// 	@extend %eye;
    		// 	top: 68px;
    		// 	left: 61.5px;

    		// 	&--top {
    		// 		@extend %eye;
    		// 		top: 66.5px;
    		// 		left: 61.5px;
    		// 	}

    		// 	&--right {
    		// 		@extend %eye;
    		// 		top: 68px;
    		// 		left: 62.5px;
    		// 	}

    		// 	&--bottom {
    		// 		@extend %eye;
    		// 		top: 69px;
    		// 		left: 61.5px;
    		// 	}

    		// 	&--bottom-right {
    		// 		@extend %eye;
    		// 		top: 69px;
    		// 		left: 62.5px;
    		// 	}

    		// 	&--center {
    		// 		@extend %eye;
    		// 		top: 68px;
    		// 		left: 61.5px;
    		// 	}
    		// }

    		// &__righteye {
    		// 	@extend %eye;
    		// 	top: 68px;
    		// 	left: 82px;

    		// 	&--top {
    		// 		@extend %eye;
    		// 		top: 66.5px;
    		// 		left: 82.2px;
    		// 	}

    		// 	&--right {
    		// 		@extend %eye;
    		// 		top: 68px;
    		// 		left: 83.2px;
    		// 	}

    		// 	&--bottom {
    		// 		@extend %eye;
    		// 		top: 69px;
    		// 		left: 82.2px;
    		// 	}

    		// 	&--bottom-right {
    		// 		@extend %eye;
    		// 		top: 69px;
    		// 		left: 83px;
    		// 	}

    		// 	&--center {
    		// 		@extend %eye;
    		// 		top: 68px;
    		// 		left: 82px;
    		// 	}
    		// }

    	}


    	&__text {
    		padding-bottom: 10px;
    	}
    }