.logo {
	display: flex;
	align-items: center;
	gap: 10px;


	&__picture {
		position: relative;

		img {
			width: 150px;
		}

		%eye {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: absolute;
			top: 62px;
			height: 10px;
			width: 10px;
			border-radius: 50px;
			background-color: rgb(255, 255, 255);
		}

		%puppy {
			content: "";
			position: absolute;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			background-color: black;
			margin-right: 0.2px;
			height: 6px;
			width: 6px;
		}

		&__lefteye {
			@extend %eye;
			left: 59px;

			&::after {
				@extend %puppy;
			}
		}

		&__righteye {
			@extend %eye;
			left: 79.5px;

			&::after {
				@extend %puppy;
			}
		}
	}


	&__text {
		padding-bottom: 10px;
	}
}