    .logo {
    	display: flex;
    	align-items: center;
    	gap: 10px;


    	&__picture {
    		position: relative;

    		img {
    			width: 150px;
    		}

    		%eye {
    			position: absolute;
    			background-color: rgb(0, 0, 0);
    			border-radius: 50px;
    			height: 6px;
    			width: 6px;
    			transition: all 0.15s ease-in;
    		}

    		&__lefteye {
    			@extend %eye;
    			top: 69px;
    			left: 62px;

    			&--top {
    				@extend %eye;
    				top: 66.5px;
    				left: 61.5px;
    			}

    			&--right {
    				@extend %eye;
    				top: 68px;
    				left: 62.5px;
    			}

    			&--bottom {
    				@extend %eye;
    				top: 69px;
    				left: 61.5px;
    			}

    			&--bottom-right {
    				@extend %eye;
    				top: 69px;
    				left: 62.5px;
    			}

    			&--center {
    				@extend %eye;
    				top: 68px;
    				left: 61.5px;
    			}
    		}

    		&__righteye {
    			@extend %eye;
    			top: 69px;
    			left: 83px;

    			&--top {
    				@extend %eye;
    				top: 66.5px;
    				left: 82.2px;
    			}

    			&--right {
    				@extend %eye;
    				top: 68px;
    				left: 83.2px;
    			}

    			&--bottom {
    				@extend %eye;
    				top: 69px;
    				left: 82.2px;
    			}

    			&--bottom-right {
    				@extend %eye;
    				top: 69px;
    				left: 83px;
    			}

    			&--center {
    				@extend %eye;
    				top: 68px;
    				left: 82px;
    			}
    		}

    	}


    	&__text {
    		padding-bottom: 10px;
    	}
    }