.DashboardServersHeading {
    /** #e2f6f8 **/ 
    background-color: rgba(var(--rgb-primary), 0.1);
    color: rgba(var(--font-color));
    padding: 10px 10px 20px 10px;

    & h3 {
        margin: 0;
        padding-top: 6px;
    }

    & .MuiAvatar-root {
        cursor: pointer;
    }

    & a {
        text-decoration: none;
    }

    &__server-stack {
        margin-top: 5px;
    }
}

[data-theme="dark"] .DashboardServersHeading {
    @extend .DashboardServersHeading;
    background-color: #242331;
}