.ServerDisplay {
    & a {
        text-decoration: none;
        color: black;
        &:hover {
            font-weight: bold;
        }
    }
    & .server-heading {
        width: fit-content;
        margin: auto;
        display: flex;
        align-items: center;
        & .MuiAvatar-root {
            margin-right: 20px;
        }
        & .MuiSvgIcon-root {
            align-self: flex-start;
            color: lightgray;
            margin-left: 20px;
            &:hover {
                cursor: pointer;
                color: grey;
            }
        }
    }
    &__main-content {
        display: flex;
        &__members-box {
            border: 1px solid lightgray;
            width: fit-content;
            text-align: center;
            & .members-heading {
                margin: 10px;
            }
            & .members-stack {
                width:fit-content;
                padding: 5px 10px;
                text-align: left;
            }
            
        }
        &__chat-box {
            flex-grow: 1;
            & h4 {
                text-align: center;
            }
        }
        &__channels-box {
            border: 1px solid lightgray;
            & h4 {
                margin: 10px;
            }
        }
        
    }
    
}