.members-box {
	border: 1px solid lightgray;
	width: fit-content;
	text-align: center;

	.members-heading {
		margin: 10px;
	}

	.members-stack {
		width: fit-content;
		padding: 5px 10px;
		text-align: left;
	}
}